
@{
    ViewBag.Title = "AparatosSistemas";

    GMIEntities db = new GMIEntities();

    int idPaciente = Convert.ToInt32(ViewBag.idPaciente);

    var nombrePaciente = (from d in db.Paciente where d.idPaciente == idPaciente select d.Nombre).FirstOrDefault();
}

<br />
<h3 class="text-center" style="color:white"><span style="color:darkgoldenrod">Examen Historia Clínica: </span>@nombrePaciente </h3>
<br />


<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="#" style="text-decoration:none; color:goldenrod">Antecedentes Heredofamiliares</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" style="text-decoration:none; color:goldenrod">Antecedentes Personales No Patológicos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" style="text-decoration:none; color:goldenrod">Antecedentes Personales Patológicos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="#" style="text-decoration:none; color:goldenrod"><b>INTERROGATORIO POR APARATOS Y SISTEMAS</b></a>
    </li>
</ul>

<br />

<form method="post" enctype="multipart/form-data" action="@Url.Content("~/ArchivoClinico/Guardar_AparatosSistemas")" style="display:inline-block; margin:0.5%">

    <div class="form-group">
        <label style="color:white">¿Tiene Algun Síntoma?</label>
        <input type="checkbox" name="sintoma" data-toggle="toggle" data-onstyle="outline-white" data-offstyle="outline-white" data-style="ios" data-on="Si" data-off="No">
    </div>
    <div class="form-group">
        <label style="color:white">¿Tiene alguna alteracíon de la vista?</label>
        <input type="checkbox" name="alteracion" data-toggle="toggle" data-onstyle="outline-white" data-offstyle="outline-white" data-style="ios" data-on="Si" data-off="No">
    </div>

    @*<div class="form-group">
        <label style="color:white">¿Utiliza Lentes?</label>
        <input type="checkbox" name="lentes" data-toggle="toggle" data-onstyle="outline-white" data-offstyle="outline-white" data-style="ios" data-on="Si" data-off="No">
    </div>*@

    <div>
        <label style="color:white">¿Utiliza lentes?: </label>
        <select class="form-select" aria-label="Default select example" name="lentes">
            <option selected disabled>Selecciona una opción</option>
            <option value="NO">NO</option>
            <option value="AEREO">Aéreo</option>
            <option value="CONTACTO">Contacto</option>

        </select>
    </div>


    <div class="form-group">
        <label style="color:white">¿Tiene alguna alteración de la audición?</label>
        <input type="checkbox" name="audicion" data-toggle="toggle" data-onstyle="outline-white" data-offstyle="outline-white" data-style="ios" data-on="Si" data-off="No">
    </div>

    <div class="form-group">
        <label style="color:white">¿Utiliza aparato auditivo?</label>
        <input type="checkbox" name="auditivo" data-toggle="toggle" data-onstyle="outline-white" data-offstyle="outline-white" data-style="ios" data-on="Si" data-off="No">
    </div>
    <div class="form-group">
        <label style="color:white">¿Tiene alguna alteración de la nariz?</label>
        <input type="checkbox" name="nariz" data-toggle="toggle" data-onstyle="outline-white" data-offstyle="outline-white" data-style="ios" data-on="Si" data-off="No">
    </div>
    <div class="form-group">
        <label style="color:white">¿Tiene alguna alteración de la boca o el gusto?</label>
        <input type="checkbox" name="boca" data-toggle="toggle" data-onstyle="outline-white" data-offstyle="outline-white" data-style="ios" data-on="Si" data-off="No">
    </div>
    <div class="form-group">
        <label style="color:white">¿Tiene alguna alteración cardiaca?</label>
        <input type="checkbox" name="cardiaca" data-toggle="toggle" data-onstyle="outline-white" data-offstyle="outline-white" data-style="ios" data-on="Si" data-off="No">
    </div>
    <div class="form-group">
        <label style="color:white">¿Tiene alguna alteración respiratoria?</label>
        <input type="checkbox" name="respiratoria" data-toggle="toggle" data-onstyle="outline-white" data-offstyle="outline-white" data-style="ios" data-on="Si" data-off="No">
    </div>
    <div class="form-group">
        <label style="color:white">¿Tiene alguna alteración endocrinológica?</label>
        <input type="checkbox" name="endocrino" data-toggle="toggle" data-onstyle="outline-white" data-offstyle="outline-white" data-style="ios" data-on="Si" data-off="No">
    </div>
    <div class="form-group">
        <label style="color:white">¿Tiene alguna alteración urinaria?</label>
        <input type="checkbox" name="urinaria" data-toggle="toggle" data-onstyle="outline-white" data-offstyle="outline-white" data-style="ios" data-on="Si" data-off="No">
    </div>
    <div class="form-group">
        <label style="color:white">¿Tiene alguna alteración de las venas?</label>
        <input type="checkbox" name="venas" data-toggle="toggle" data-onstyle="outline-white" data-offstyle="outline-white" data-style="ios" data-on="Si" data-off="No">
    </div>
    <div class="form-group">
        <label style="color:white">¿Tiene alguna alteración de las intestinal?</label>
        <input type="checkbox" name="intestinal" data-toggle="toggle" data-onstyle="outline-white" data-offstyle="outline-white" data-style="ios" data-on="Si" data-off="No">
    </div>
    <div class="form-group">
        <label style="color:white">¿Tiene alguna alteración de cáncer en la sangre?</label>
        <input type="checkbox" name="cancer" data-toggle="toggle" data-onstyle="outline-white" data-offstyle="outline-white" data-style="ios" data-on="Si" data-off="No">
    </div>
    <div class="form-group">
        <label style="color:white">¿Tiene alguna alteración de las articulaciones?</label>
        <input type="checkbox" name="articulaciones" data-toggle="toggle" data-onstyle="outline-white" data-offstyle="outline-white" data-style="ios" data-on="Si" data-off="No">
    </div>
    <div class="form-group">
        <label style="color:white" ;>¿Tiene alguna alteración del sueño?</label>
        <input type="checkbox" name="suenio" data-toggle="toggle" data-onstyle="outline-white" data-offstyle="outline-white" data-style="ios" data-on="Si" data-off="No">
    </div>
    <div class="form-group">
        <label style="color:white">¿Tiene alguna alteración con apnea del sueño?</label>
        <input type="checkbox" name="apnea" data-toggle="toggle" data-onstyle="outline-white" data-offstyle="outline-white" data-style="ios" data-on="Si" data-off="No">
    </div>
    <div class="form-group">
        <label style="color:white">¿Tiene alguna alteración neurológica?</label>
        <input type="checkbox" name="neurologica" data-toggle="toggle" data-onstyle="outline-white" data-offstyle="outline-white" data-style="ios" data-on="Si" data-off="No">
    </div>
    <div class="form-group">
        <label style="color:white">¿Tiene alguna alteración de la cabeza o cuello?</label>
        <input type="checkbox" name="cuello" data-toggle="toggle" data-onstyle="outline-white" data-offstyle="outline-white" data-style="ios" data-on="Si" data-off="No">
    </div>
    <div class="form-group">
        <label style="color:white">¿Tiene alguna alteración en el abdomen?</label>
        <input type="checkbox" name="abdomen" data-toggle="toggle" data-onstyle="outline-white" data-offstyle="outline-white" data-style="ios" data-on="Si" data-off="No">
    </div>
    <div class="form-group">
        <label style="color:white">¿Tiene alguna alteración en las extremidades?</label>
        <input type="checkbox" name="extremidades" data-toggle="toggle" data-onstyle="outline-white" data-offstyle="outline-white" data-style="ios" data-on="Si" data-off="No">
    </div>

    <br />

    <h5 style="color:white">Neurología</h5>
    <div class="form-group">
        <label style="color:white" ;>Test de Romberg</label>
        <input type="checkbox" checked data-toggle="toggle" data-onstyle="outline-white" data-offstyle="outline-white" data-style="ios" data-on="Positivo" data-off="Negativo">
    </div>


    <div class="form-group">
        <label style="color:white" ;>Punta de Nariz</label>
        <input type="checkbox" checked data-toggle="toggle" data-onstyle="outline-white" data-offstyle="outline-white" data-style="ios" data-on="Positivo" data-off="Negativo">
    </div>

    <h5 style="color:white">Ojos</h5>
    <div class="form-group">
        <label style="color:white" ;>Estrabismo</label>
        <input type="checkbox" checked data-toggle="toggle" data-onstyle="outline-white" data-offstyle="outline-white" data-style="ios" data-on="Positivo" data-off="Negativo">
    </div>

    <h5 style="color:white">Ojos</h5>
    <div class="form-group">
        <label style="color:white" ;>Estrabismo</label>
        <input type="checkbox" checked data-toggle="toggle" data-onstyle="outline-white" data-offstyle="outline-white" data-style="ios" data-on="Positivo" data-off="Negativo">
    </div>


    <h5 style="color:white">Área Cardiaca</h5>
    <div class="form-group">
        <label style="color:white" ;>Soplo</label>
        <input type="checkbox" checked data-toggle="toggle" data-onstyle="outline-white" data-offstyle="outline-white" data-style="ios" data-on="Positivo" data-off="Negativo">
    </div>

    <h5 style="color:white">Extremidades</h5>
    <div class="form-group">
        <label style="color:white" ;>Amputaciones</label>
        <input type="checkbox" checked data-toggle="toggle" data-onstyle="outline-white" data-offstyle="outline-white" data-style="ios" data-on="Positivo" data-off="Negativo">
    </div>

    <div class="form-group">
        <label style="color:white" ;>Prótesis</label>
        <input type="checkbox" checked data-toggle="toggle" data-onstyle="outline-white" data-offstyle="outline-white" data-style="ios" data-on="Positivo" data-off="Negativo">
    </div>

    <input type="hidden" value="@idPaciente" name="id" />
    <input type="submit" class="btn btn-success" value="Guardar Examen" />
</form>
<br />
<form method="post" enctype="multipart/form-data" action="@Url.Content("~/ArchivoClinico/Index")" style="display:inline-block; margin:0.5%">
    <input type="hidden" value="@idPaciente" name="id" />
    <input type="submit" class="btn btn-info" value="Regresar a Carrusel" />
</form>


