
@{
    ViewBag.Title = "Captura";

    SCTiCareEntities1 db = new SCTiCareEntities1();
}

<br />
<br />
<h3 style="color:white" class="text-center">EPI Center</h3>
<hr />

@{
            var sucursales = from s in db.Sucursales select s;
            string sucursal = null;

            foreach (var item in sucursales)
            {
        sucursal = item.Nombre;
        <a href=@Url.Action("capturaSucursal", "EPIs", new { sucursal = sucursal })><button type="button" class="btn btn-outline-warning boton-transparenteExcel botonesGral"><span class="glyphicon glyphicon-folder-open"></span> &nbsp; &nbsp;@item.Nombre</button></a>

    }
}

