body {
    margin: 0;
    font-family: 'Manrope', 'Century Gothic';
    font-size: 1rem;
    line-height: 1.6em;
    color: black;
}

* {
    box-sizing: border-box
}

.page-container {
    max-width: 1200px;
    margin: 2rem auto;
}

.table-cebra {
    border-top: 1px solid #ddd;
    border-spacing: 0;
    font-size: 13px;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

    .table-cebra > thead > tr > th,
    .table-cebra > tbody > tr > th,
    .table-cebra > tfoot > tr > th,
    .table-cebra > thead > tr > td,
    .table-cebra > tbody > tr > td,
    .table-cebra > tfoot > tr > td {
        padding: 8px;
        line-height: 1.42857143;
        vertical-align: central;
    }

    .table-cebra thead tr {
        background: #337ab7;
        color: white;
        text-align: center;
    }

        .table-cebra thead tr th td {
            text-align: center;
            background: #0275d8;
        }

    .table-cebra th,
    .table-cebra td {
        border-right: 1px solid #ddd !important;
        text-align: center;
        font-size: smaller;
        min-width: 60px;
    }

        .table-cebra th:last-child,
        .table-cebra td:last-child {
            border-right: 0;
        }

    .table-cebra th,
    .table-cebra td {
        border-bottom: 1px solid #ddd !important;
    }

    .table-cebra tbody tr {
        background: white;
    }

        .table-cebra tbody tr:first-child {
            background: #d9edf7;
            font-size: smaller;
        }

    .table-cebra tbody td {
        text-align: center;
    }

    /*Sticky*/

    .table-cebra thead tr .sticky {
        background: #337ab7;
        color: white;
        text-align: center;
    }

    .table-cebra thead tr th td .sticky {
        text-align: center;
        font-size: smaller;
        background: #337ab7;
    }

    .table-cebra th,
    .table-cebra td .sticky {
        border-right: 1px solid #ddd !important;
        min-width: 60px;
        min-width: 60px;
        text-align: center;
    }

    .table-cebra th,
    .table-cebra td .sticky {
        border-bottom: 1px solid #ddd !important;
    }

    .table-cebra tbody tr .sticky {
        background: white;
    }

    .table-cebra tbody tr:first-child .sticky {
        background: #d9edf7;
    }

    .table-cebra tbody td .sticky {
        text-align: center;
    }

    /*Stickys 2*/

    .table-cebra thead tr .sticky2 {
        background: #337ab7;
        color: white;
        text-align: center;
    }

    .table-cebra thead tr th td .sticky2 {
        text-align: center;
        font-size: smaller;
        background: #337ab7;
    }

    .table-cebra tbody tr .sticky2 {
        background: #337ab7;
        min-width: 60px;
        text-align: center;
    }

    .table-cebra tbody tr th td .sticky2 {
        text-align: center;
        font-size: smaller;
        min-width: 60px;
        background: #337ab7;
    }

    .table-cebra th,
    .table-cebra td .sticky2 {
        border-right: 1px solid #ddd !important;
        text-align: center;
        min-width: 60px;
        border-bottom: 1px solid #ddd !important;
    }

    .table-cebra tbody tr .sticky2 {
        background: white;
    }

    .table-cebra tbody tr:first-child .sticky2 {
        background: #d9edf7;
    }

    .table-cebra tbody td .sticky2 {
        text-align: center;
    }

    /*Stickys 3*/

    .table-cebra thead tr .sticky3 {
        background: #337ab7;
        color: white;
        text-align: center;
    }

    .table-cebra thead tr th td .sticky3 {
        text-align: center;
        font-size: smaller;
        background: #337ab7;
    }

    .table-cebra tbody tr .sticky3 {
        background: #337ab7;
        min-width: 60px;
        text-align: center;
    }

    .table-cebra tbody tr th td .sticky3 {
        text-align: center;
        font-size: smaller;
        min-width: 60px;
        background: #337ab7;
    }

    .table-cebra th,
    .table-cebra td .sticky3 {
        border-right: 1px solid #ddd !important;
        min-width: 60px;
        text-align: center;
        border-bottom: 1px solid #ddd !important;
    }

    .table-cebra tbody tr .sticky3 {
        background: white;
    }

    .table-cebra tbody tr:first-child .sticky3 {
        background: #d9edf7;
    }

    .table-cebra tbody td .sticky3 {
        text-align: center;
    }

    /*Stickys 4*/

    .table-cebra thead tr .sticky4 {
        background: #337ab7;
        color: white;
        text-align: center;
    }

    .table-cebra thead tr th td .sticky4 {
        text-align: center;
        font-size: smaller;
        background: #337ab7;
    }

    .table-cebra tbody tr .sticky4 {
        background: #337ab7;
        min-width: 65px;
        text-align: center;
    }

    .table-cebra tbody tr th td .sticky4 {
        text-align: center;
        font-size: smaller;
        min-width: 65px;
        background: #337ab7;
    }

    .table-cebra th,
    .table-cebra td .sticky4 {
        border-right: 1px solid #ddd !important;
        min-width: 65px;
        text-align: center;
        border-bottom: 1px solid #ddd !important;
    }

    .table-cebra tbody tr .sticky4 {
        background: white;
    }

    .table-cebra tbody tr:first-child .sticky4 {
        background: #d9edf7;
    }

    .table-cebra tbody td .sticky4 {
        text-align: center;
    }

    /*Stickys 5*/

    .table-cebra thead tr .sticky5 {
        background: #337ab7;
        color: white;
        text-align: center;
    }

    .table-cebra thead tr th td .sticky5 {
        text-align: center;
        font-size: smaller;
        background: #337ab7;
    }

    .table-cebra tbody tr .sticky5 {
        background: #337ab7;
        text-align: center;
    }

    .table-cebra tbo tr th td .sticky5 {
        text-align: center;
        font-size: smaller;
        background: #337ab7;
    }

    .table-cebra th,
    .table-cebra td .sticky5 {
        border-right: 1px solid #ddd !important;
        min-width: 60px;
        text-align: center;
        border-bottom: 1px solid #ddd !important;
    }

    .table-cebra tbody tr .sticky5 {
        background: white;
    }

    .table-cebra tbody tr:first-child .sticky5 {
        background: #d9edf7;
    }

    .table-cebra tbody td .sticky5 {
        text-align: center;
    }

    /*Stickys 6*/

    .table-cebra thead tr .sticky6 {
        background: #337ab7;
        color: white;
        text-align: center;
    }

    .table-cebra thead tr th td .sticky6 {
        text-align: center;
        font-size: smaller;
        background: #337ab7;
    }

    .table-cebra tbody tr .sticky6 {
        background: #337ab7;
        text-align: center;
    }

    .table-cebra tbody tr th td .sticky6 {
        text-align: center;
        font-size: smaller;
        background: #337ab7;
    }

    .table-cebra th,
    .table-cebra td .sticky6 {
        border-right: 1px solid #ddd !important;
        min-width: 60px;
        text-align: center;
        border-bottom: 1px solid #ddd !important;
    }

    .table-cebra tbody tr .sticky6 {
        background: white;
    }

    .table-cebra tbody tr:first-child .sticky6 {
        background: #d9edf7;
    }

    .table-cebra tbody td .sticky6 {
        text-align: center;
    }


/*Seccion de ID en celdas para las tablas*/

#CeldaSmall {
    background: #337ab7;
    min-width: 120px;
}

#Especial {
    background: #d9edf7;
    min-width: 120px;
}

#Grisaseo {
    background: whitesmoke;
}

/*Seccion de hover para la tabla nueva clase, clase a (Que cambie de color cuando pasas el mouse por encima)*/

.a > tbody > tr:hover {
    background-color: #f5f5f5;
}

.a tbody tr:first-child:hover {
    background: #d9edf7;
}

.a > tbody > tr > td.active:hover,
.a > tbody > tr > th.active:hover,
.a > tbody > tr.active:hover > td,
.a > tbody > tr:hover > .active,
.a > tbody > tr.active:hover > th {
    background-color: #e8e8e8;
}

.a > tbody > tr > td.success:hover,
.a > tbody > tr > th.success:hover,
.a > tbody > tr.success:hover > td,
.a > tbody > tr:hover > .success,
.a > tbody > tr.success:hover > th {
    background-color: #d0e9c6;
}

.a > tbody > tr > td.info:hover,
.a > tbody > tr > th.info:hover,
.a > tbody > tr.info:hover > td,
.a > tbody > tr:hover > .info,
.a > tbody > tr.info:hover > th {
    background-color: #c4e3f3;
}

.a > tbody > tr > td.warning:hover,
.a > tbody > tr > th.warning:hover,
.a > tbody > tr.warning:hover > td,
.a > tbody > tr:hover > .warning,
.a > tbody > tr.warning:hover > th {
    background-color: #faf2cc;
}

.a > tbody > tr > td.danger:hover,
.a > tbody > tr > th.danger:hover,
.a > tbody > tr.danger:hover > td,
.a > tbody > tr:hover > .danger,
.a > tbody > tr.danger:hover > th {
    background-color: #ebcccc;
}

/*Contenedor center ellipse Div*/

.table-container {
    max-width: 100%;
    max-height: 100%;
    overflow-x: scroll;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

/*Stickys*/

.table-cebra .sticky {
    position: sticky;
    left: 0;
}

.table-cebra .sticky2 {
    position: sticky;
    left: 120px;
}

.table-cebra .sticky3 {
    position: sticky;
    left: 120px;
}

.table-cebra .sticky4 {
    position: sticky;
    left: 180px;
}

.table-cebra .sticky5 {
    position: sticky;
    left: 250px;
}

.table-cebra .sticky6 {
    position: sticky;
    left: 120px;
}
