body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #2E2D3F;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.colorFooter {
    color: aliceblue;
}

.boton-transparente {
    display: inline-block;
    width: 200px;
    padding: 8px;
    color: #AC9070;
    border: 2px solid #AC9070;
    text-align: center;
    outline: none;
    text-decoration: none;
    background-color: #2E2D3F;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

    .boton-transparente:hover,
    .boton-transparente:active {
        background-color: #AC9070;
        color: #2E2D3F;
        transition: background-color 0.3s ease-in, color 0.3s ease-in;
    }

.botonesGral {
    margin-left: 10px;
    margin-bottom: 5px;
}

.ventanaModal {
    /*background-color: rgb(224 224 224);*/
    color: rgb(0 47 126);
}

/*-------------------------------------------------*/
/*Body Login*/
.bodyLogin {
    background-image: url(../Images/Inicio.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    min-height: 100vh;
    display:flex;
}

.formularioLogin {
    background-color: white;
    margin: auto;
    width: 350px;
    min-width: 40vh;
    padding: 40px;
    border-radius: 5px;
}

label h5 {
    font-size: 2vh;
}

.inputLogin{
    width: 100%;
    min-width: 36vh;
    min-height: 5vh;
    font-size: 2vh;
}

.imagenLogin{
    width:70%;
}

