body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #2E2D3F;
    font-family: 'Manrope', 'Century Gothic';
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.colorFooter {
    color: aliceblue;
}

.boton-transparente{
    display: inline-block;
    width: 200px;
    padding: 8px;
    color: white; /*#AC9070;*/
    border: 2px solid #AC9070;
    text-align: center;
    outline: none;
    text-decoration: none;
    background-color: #2E2D3F;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

.boton-transparenteExcel {
    display: inline-block;
    width: 200px;
    padding: 8px;
    color: white; /*#AC9070;*/
    border: 2px solid #57D94E;
    text-align: center;
    outline: none;
    text-decoration: none;
    background-color: #2E2D3F;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

.boton-transparente a{
    color:white;
}

    .boton-transparente a:hover {
        text-decoration: none;
    }

    .boton-transparente:hover,
    .boton-transparente:active {
        background-color: #AC9070;
        color: white; /*#2E2D3F;*/
        transition: background-color 0.3s ease-in, color 0.3s ease-in;
    }

    .boton-transparenteExcel a {
        color: white;
    }

        .boton-transparenteExcel a:hover {
            text-decoration: none;
        }

.boton-transparenteExcel:hover,
.boton-transparenteExcel:active {
    background-color: #57D94E;
    color: white; /*#2E2D3F;*/
    transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

.botonesGral {
    margin-right: 10px;
    margin-bottom: 5px;
}

.btnCC{
    width: 100%;
    min-height: 4.5vh;
    font-size: 2vh;
}

.ventanaModal {
    /*background-color: rgb(224 224 224);*/
    color: rgb(0 47 126);
}

/*-------------------------------------------------*/
/*Body Login*/
.bodyLogin {
    background-image: url(../Images/Inicio.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    min-height: 100vh;
    display: flex;
    backdrop-filter: blur(1.2px); /* Chrome and Opera */
    background-color: rgba(255, 255, 255, 0.3);
}

.labelGral {
    color: #AC9070;
}

.labelInfo{
    color:white;
}

.formularioLogin {
    background-color: white;
    margin: auto;
    width: 350px;
    min-width: 40vh;
    padding: 40px;
    border-radius: 5px;
}

.formularioLogin2 {
    background-color: white;
    margin: auto;
    width: 60%;
    min-width: 40vh;
    padding: 40px;
    border-radius: 5px;
}

label h5 {
    font-size: 2vh;
}

.inputLogin{
    width: 100%;
    min-width: 36vh;
    min-height: 5vh;
    font-size: 2vh;
}

.imagenLogin{
    width:70%;
}

.enlaceSinBoton a{
    color: white;
}

.enlaceSinBoton a:hover {
    color: aqua;
    text-decoration: none;
}

/*-------------------------------Tablas------------------------------*/
.tablas {
    background-color: white;
    color: #2E2D3F;
    border-radius: 0px 0px 10px 10px;
    font-size:13px;
}

.tableSticky {
    overflow-y: auto;
    overflow-x: auto;
}

.dropdown-menu{
    padding: 2%;
}

.dropdown-menu a:hover{
    text-decoration: none;
}

.tablaScroll {
    overflow: scroll;
    height: 700px;
    width: 100%;
}

/*----------------------------Cerrar sesión---------------*/
.cerrarSesion{
    display: inline;
    float:right;
    padding-top: 12px;
}

