body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #2E2D3F;
    font-family: 'Manrope', 'Century Gothic';
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.colorFooter {
    color: aliceblue;
}

.boton-transparente{
    display: inline-block;
    width: 200px;
    padding: 8px;
    color: white; /*#AC9070;*/
    border: 2px solid #AC9070;
    text-align: center;
    outline: none;
    text-decoration: none;
    background-color: #2E2D3F;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

.boton-transparenteExcel {
    display: inline-block;
    width: 200px;
    padding: 8px;
    color: white; /*#AC9070;*/
    border: 2px solid #57D94E;
    text-align: center;
    outline: none;
    text-decoration: none;
    background-color: #2E2D3F;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

.boton-transparenteAzul {
    display: inline-block;
    width: 200px;
    padding: 8px;
    color: white; /*#AC9070;*/
    border: 2px solid #5D4BFA;
    text-align: center;
    outline: none;
    text-decoration: none;
    background-color: #2E2D3F;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

.boton-transparentePendiente {
    display: inline-block;
    width: 200px;
    padding: 8px;
    color: white; /*#AC9070;*/
    border: 2px solid #FBB328;
    text-align: center;
    outline: none;
    text-decoration: none;
    background-color: #2E2D3F;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

.boton-transparenteIndicadorAz {
    display: inline-block;
    width: 355px;
    height: 70px;
    padding: 8px;
    color: white; /*#AC9070;*/
    border: 2px solid #5D4BFA;
    text-align: center;
    outline: none;
    text-decoration: none;
    background-color: #2E2D3F;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

.boton-transparenteIndicadorAm {
    display: inline-block;
    width: 355px;
    height: 70px;
    padding: 8px;
    color: white; /*#AC9070;*/
    border: 2px solid #FBB328;
    text-align: center;
    outline: none;
    text-decoration: none;
    background-color: #2E2D3F;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

.boton-transparenteIndicadorRo {
    display: inline-block;
    width: 355px;
    height: 70px;
    padding: 8px;
    color: white; /*#AC9070;*/
    border: 2px solid #ff006e;
    text-align: center;
    outline: none;
    text-decoration: none;
    background-color: #2E2D3F;
    transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

.boton-transparente a{
    color:white;
}

    .boton-transparente a:hover {
        text-decoration: none;
    }

    .boton-transparente:hover,
    .boton-transparente:active {
        background-color: #AC9070;
        color: white; /*#2E2D3F;*/
        transition: background-color 0.3s ease-in, color 0.3s ease-in;
    }

    .boton-transparenteExcel a {
        color: white;
    }

        .boton-transparenteExcel a:hover {
            text-decoration: none;
        }

.boton-transparenteExcel:hover,
.boton-transparenteExcel:active {
    background-color: #57D94E;
    color: white; /*#2E2D3F;*/
    transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

.boton-transparenteAzul a {
    color: white;
}

.boton-transparenteIndicadorAz {
    color: white;
}

.boton-transparenteIndicadorAm a {
    color: white;
}

.boton-transparenteIndicadorRo a {
    color: white;
}

    .boton-transparenteRojo a:hover {
        text-decoration: none;
    }



.boton-transparenteAzul:hover,
.boton-transparenteAzul:active {
    background-color: #5D4BFA;
    color: white; /*#2E2D3F;*/
    transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

.boton-transparenteIndicadorAz:hover,
.boton-transparenteIndicadorAz:active {
    background-color: #5D4BFA;
    color: white; /*#2E2D3F;*/
    transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

.boton-transparenteIndicadorAm:hover,
.boton-transparenteIndicadorAm:active {
    background-color: #FBB328;
    color: white; /*#2E2D3F;*/
    transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

.boton-transparenteIndicadorRo:hover,
.boton-transparenteIndicadorRo:active {
    background-color: #ff006e;
        color: white; /*#2E2D3F;*/
    transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

.boton-transparentePendiente a{
    color: white;
}

    .boton-transparentePendiente a:hover {
        text-decoration: none;
    }

.boton-transparentePendiente:hover,
.boton-transparentePendiente:active {
    background-color: #FBB328;
    color: white; /*#2E2D3F;*/
    transition: background-color 0.3s ease-in, color 0.3s ease-in;
}



.botonesGral {
    margin-right: 10px;
    margin-bottom: 5px;
}

.btnCC{
    width: 100%;
    min-height: 4.5vh;
    font-size: 2vh;
}

.ventanaModal {
    /*background-color: rgb(224 224 224);*/
    color: rgb(0 47 126);
}

/*-------------------------------------------------*/
/*Body Login*/
.bodyLogin {
    background-image: url(../Images/Inicio.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    min-height: 100vh;
    display: flex;
    backdrop-filter: blur(1.2px); /* Chrome and Opera */
    background-color: rgba(255, 255, 255, 0.3);
}

.labelGral {
    color: #AC9070;
}

.labelInfo{
    color:white;
}

.formularioLogin {
    background-color: white;
    margin: auto;
    width: 350px;
    min-width: 40vh;
    padding: 40px;
    border-radius: 5px;
}

.formularioLogin2 {
    background-color: white;
    margin: auto;
    width: 60%;
    min-width: 40vh;
    padding: 40px;
    border-radius: 5px;
}

label h5 {
    font-size: 2vh;
}

.inputLogin{
    width: 100%;
    min-width: 36vh;
    min-height: 5vh;
    font-size: 2vh;
}

.imagenLogin{
    width:40%;
}

.enlaceSinBoton a{
    color: white;
}

.enlaceSinBoton a:hover {
    color: aqua;
    text-decoration: none;
}

/*-------------------------------Tablas------------------------------*/
.tablas {
    background-color: white;
    color: #2E2D3F;
    border-radius: 0px 0px 10px 10px;
    font-size:13px;
}

.tableSticky {
    overflow-y: auto;
    overflow-x: auto;
}

.dropdown-menu{
    padding: 2%;
}

.dropdown-menu a:hover{
    text-decoration: none;
}

.tablaScroll {
    overflow-x: scroll;
    width: 100%;
    height: 450px;
}

::-webkit-scrollbar {
    display: none;
}


/*----------------------------Cerrar sesión---------------*/
.cerrarSesion{
    display: inline;
    float:right;
    padding-top: 12px;
}

/*----------Contenedores de carga------------------*/

*, *:after, *:before{
    margin:0;
    padding:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#contenerdor_carga {
    background-color: white;
    height: 100%;
    width: 100%;
    position: fixed;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    z-index: 10000;
}

#carga{
    border: 15px solid #ccc;
    border-top-color: greenyellow;
    border-top-style: groove;
    height: 100px;
    width: 100px;
    border-radius: 100%;

    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
    margin: auto;
    -webkit-animation: girar 1.5s linear infinite;
    -o-animation: girar 1.5s linear infinite;
    animation: girar 1.5s linear infinite;
}

@keyframes girar{
    from{transform: rotate(0 deg);}
    to{transform: rotate(360deg);}
}

/*----------sin espacios para h6 de instructivo---------------*/
.instrucciones{
    margin: 0;
    padding: 0;
}
